body{
	font-family: "Roboto", sans-serif;
	background-color: #000000;
	color: #ffffff;
}

/*CSS matin.php*/
.carre{
	height:940px;
	width: auto;
	border:8px solid #ffffff;
	overflow:hidden;
}

#sphere{
	position: fixed;
	left: 150px;
	top: 300px;
}

#hr{
	position: absolute;
	right: 30px;
	top: 5px;
	font-size: 600%;
	font-weight: 100%;
}

#date{
	position: fixed;
	right: 200px;
	top: 100px;
}

#calendrier{
	position: fixed;
	right: 20px;
	top: 170px;
}

#alim{
	position: fixed;
	right: 400px;
	top: 195px;
}

#rappel{
	position: fixed;
	right:20px;
	bottom : 25px;
}

/* CSS date.php */
p1{
	position: fixed;
	font-size: 50px;
	right: 30px;
	top: 105px;
}

#today{
	position: fixed;
	right: 30px;
	top: 150px;
}

/* CSS rappel.php */
.pos{
	margin:5px;
	padding-left: 5px;
	width: 470px;
	height:360px;
	border:5px solid #ffffff;
	background-color:#000000;
	color:#fff;
	font-size:14px;
	overflow:hidden;
	line-height:30px;
}

/* CSS calendrier.php */
#tomorrow1{
	position: fixed;
	right: 30px;
	top: 170px;
}

#tomorrow2{
	position: fixed;
	right: 30px;
	top: 260px;
}

.place{
	margin:5px;
	padding-left: 5px;
	width: 300px;
	height:238px;
	border:5px solid #ffffff;
	background-color:#000000;
	color:#fff;
	font-size:14px;
	overflow:hidden;
	line-height:30px;
}

/* CSS pourcentage_alim.php */
#tb{
	border-collapse:collapse;
	border-style:solid;
	border-color:white;
}
table{
	border-collapse:collapse;
	border-style:solid;
	border-color:black;
}

h1{
	font-size: 12px;
	color: white;
}

#recette{
	position:fixed;
	left: 330px;
	top: 25px;
}

/* CSS minuteur.php */
#compt {
	color:white;
	font-size : 300px;
}	
		
#global{
	position: relative; /* on positionne le conteneur */
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	top: 250px;
}
